body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(126, 117, 117);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.film {
  background-color: white;
  width: 400px;

  margin: 10px;
  border-radius: 15px;
}

.film-image {
  background-color: aquamarine;
  height: 270px;
  margin-bottom: 25px;
  background-size: cover;
  border-radius: 15px;
}

.film-1 {
  background-image: url("https://static.tvtropes.org/pmwiki/pub/images/f454bae3_fc63_4ae6_9462_fc96c413c18a.png");
}

.film-2 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjh59euEHY6-VDmJXhyINAG_cMtVhUPC5f-g&usqp=CAU");
}

.film-3 {
  background-image: url("https://m.media-amazon.com/images/M/MV5BZjNmMWFjZmUtZWYyMy00YTE4LTlhNzEtMTBlMGFkMzNmOTE3XkEyXkFqcGdeQXVyNjE4ODA3NTY@._V1_.jpg");
}

.film h4 {
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.film p {
  padding: 10px;
  text-align: center;
}

.film:hover {
  background-color: rgb(38, 38, 39);
  cursor: pointer;
  color: white;
  transform: scale(1.02);
  transition: all 0.5s ease;
}

.btn {
  text-align: center;
  color: aqua;
  padding-top: 36px;
}

.racun {
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  height: 28px;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 15px;
}

.racunFilmova {
  text-align: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 15px;
}

.racunFilmova:hover {
  background-color: rgb(38, 38, 39);
  cursor: pointer;
  color: white;
  transform: scale(1.02);
  transition: all 0.5s ease;
  border-radius: 15px;
}

.rating {
  font-size: 27px;
  color: rgb(119, 67, 102);
}
